@font-face {
    font-family: "El-Messiri";
    src: url("../fonts/el-messiri/ElMessiri-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "El-Messiri";
    src: url("../fonts/el-messiri/ElMessiri-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "El-Messiri";
    src: url("../fonts/el-messiri/ElMessiri-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/open-sans/OpenSans-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}