body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width:1150px) {
        padding: 0;
        max-width: 680px;
    }

    @media screen and (max-width:767px) {
        max-width: 350px;
    }

    @media screen and (max-width:360px) {
        max-width: 320px;
    }
}