:root {
    // fonts
    --primary-font: 'OpenSans';
    --secondary-font: 'El-Messiri';

    // colors
    --primary-text-color: #4F4662;
    --secondary-text-color: #6D45AE;
    --accent-text-color: #382B55;
}